body{
    background-color:black;
    font-family: Arial;
    color: white;
}

h1{
    color:gray;
    font-family: Verdana;
    text-align: center;
}

.maindiv{
    background-color: white;
    color: black;
    width: 500px;
    padding: 20px;
    border-radius: 25px;
}

.maindiv footer, td{
    text-align: left;
}

.maindiv table{
    margin: 0 auto;
}